/* Write your CSS here */
.website-img {
  width: 70px;
}
.cowin-name-container {
  display: flex;
  flex-direction: row;
}

.app-container {
  width: 100%;
  height: 100vh;
}

.main-heading {
  color: #2cc6c6;
  font-family: 'roboto';
}
